<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card class="welcome-card">

    <div class="welcome-content">

      <div class="text">

        <h2>
          Selamat Datang, <br>
          Mahasiswa HIMSI!
        </h2>

        <p>
          Bergabung, Berkarya, Berinovasi
        </p>

      </div>

      <img src="assets/icon/logo.png" alt="HIMSI">

    </div>

  </ion-card>

<h3>Pembina HIMSI</h3>

<ion-card class="info-card pembina-card">

  <ion-card-content>

    <div class="pembina-modern">

      <img
        src="assets/pembina 1.jpeg"
        class="pembina-img">

      <div class="text-side">

        <span class="jabatan">
          Pembina HIMSI I
        </span>

        <h4>
          Siti Jamilah Br Tarigan, S.Kom., M.Kom.
        </h4>

        <p>
          Selamat datang di HIMSI. Organisasi ini menjadi wadah
          mahasiswa Sistem Informasi untuk mengembangkan kemampuan
          akademik, kepemimpinan, kreativitas, dan keterampilan
          teknologi yang relevan dengan kebutuhan industri.
        </p>

      </div>

    </div>

  </ion-card-content>

</ion-card>

<ion-card class="info-card pembina-card">

  <ion-card-content>

    <div class="pembina-modern reverse">

      <img
        src="assets/pembina 2.jpeg"
        class="pembina-img">

      <div class="text-side">

        <span class="jabatan">
          Pembina HIMSI II
        </span>

        <h4>
          Surizar Rahmi Danur, S.Kom., M.Kom.
        </h4>

        <p>
          HIMSI diharapkan menjadi organisasi mahasiswa yang aktif,
          inovatif, dan berintegritas serta mampu menjadi sarana
          pengembangan karakter, prestasi, dan kemampuan profesional
          mahasiswa Sistem Informasi.
        </p>

      </div>

    </div>

  </ion-card-content>

</ion-card>

  <h3>Sejarah HIMSI</h3>

  <ion-card class="info-card">

    <ion-card-content>

      HIMSI (Himpunan Mahasiswa Sistem Informasi) merupakan
      organisasi kemahasiswaan yang dibentuk sebagai wadah
      pengembangan minat, bakat, kreativitas, serta kemampuan
      akademik mahasiswa Program Studi Sistem Informasi.

      <br><br>

      HIMSI hadir untuk mempererat hubungan antar mahasiswa,
      menjadi sarana pembelajaran organisasi, serta mendukung
      pengembangan kompetensi di bidang teknologi informasi
      melalui berbagai kegiatan akademik maupun non akademik.

    </ion-card-content>

  </ion-card>

  <h3>Visi HIMSI</h3>

  <ion-card class="info-card">

    <ion-card-content>

      Menjadikan HIMSI sebagai wadah aktif, inovatif,
      kreatif, dan progresif dalam pengembangan potensi akademik,
      non-akademik, softskill dan profesionalisme mahasiswa
      Sistem Informasi.

    </ion-card-content>

  </ion-card>

  <h3>Misi HIMSI</h3>

  <ion-card class="info-card">

    <ion-card-content>

      <ul>

        <li>
          Meningkatkan rasa takwa mahasiswa Sistem Informasi
          kepada Tuhan Yang Maha Esa.
        </li>

        <li>
          Meningkatkan rasa kekeluargaan, solidaritas,
          dan kebersamaan antara mahasiswa Sistem Informasi.
        </li>

        <li>
          Melakukan program kerja yang mendukung hardskill,
          softskill, kemampuan akademik dan non-akademik
          mahasiswa Sistem Informasi.
        </li>

        <li>
          Meningkatkan eksistensi HIMSI dengan bekerja sama
          dengan lembaga internal maupun eksternal kampus.
        </li>

        <li>
          Menjadikan HIMSI sebagai wadah penampung aspirasi
          yang aktif dan responsif bagi mahasiswa Sistem Informasi.
        </li>

      </ul>

    </ion-card-content>

  </ion-card>

  <h3>Fitur Aplikasi</h3>

  <div class="menu-grid">

    <div class="menu-item">

      <ion-icon name="people-outline"></ion-icon>

      <h4>About HIMSI</h4>

      <p>
        HIMSI merupakan Himpunan Mahasiswa Sistem Informasi
        yang menjadi wadah bagi mahasiswa untuk belajar,
        berkembang, berorganisasi, dan meningkatkan kreativitas
        serta kemampuan di bidang teknologi informasi.
      </p>

    </div>

    <div class="menu-item">

      <ion-icon name="create-outline"></ion-icon>

      <h4>Pendaftaran</h4>

      <p>
        Menu pendaftaran digunakan untuk calon anggota HIMSI
        yang ingin bergabung menjadi bagian dari organisasi.
      </p>

    </div>

    <div class="menu-item">

      <ion-icon name="clipboard-outline"></ion-icon>

      <h4>Status Pendaftaran </h4>

      <p>
        Menu status berfungsi untuk melihat perkembangan
        proses pendaftaran anggota HIMSI.
      </p>

    </div>

    <div class="menu-item">

      <ion-icon name="person-outline"></ion-icon>

      <h4>Profile Saya</h4>

      <p>
        Menampilkan biodata pengembang, dokumentasi,
        keahlian, tujuan aplikasi dan informasi kontak.
      </p>

    </div>

  </div>

  <ion-button
    expand="block"
    color="dark"
    class="ion-margin-top"
    (click)="loginAdmin()">

    <ion-icon
      name="lock-closed-outline"
      slot="start">
    </ion-icon> 
    
    Login Admin

  </ion-button>

</ion-content>